<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css">
      img.logo { 
        height: 50px;
      }
    </style>
  </head>
  <body>
    <hr />
    <p>
      Hi, <%= invitee %>,
    </p>
    <p>
      <%= host %> has invited you to <%= event_name %>.
    </p>

    <p>
      Time: <%= time_range %><br />
      Location: <%= location %>
    </p>

    <p><%= detail %></p>

    <p>Please RSVP below:</p>

    <p>
      <a href='<%= accept_url %>'>Accept it now</a><br />
      <a href='<%= decline_url %>'>Maybe next time</a>
    </p>

    <p>This is a automatic message from Getherly, please do not reply.</p>
  </body>
</html>
